<div class="aboutMe">
    <h1 id="title" class="title" >Hey, I'm Yan ;)</h1>
    <div class="container">
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore harum, ullam fugiat quae omnis enim et earum modi quasi minima sed esse dolore voluptatem, amet recusandae porro quia doloribus at?</p>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore harum, ullam fugiat quae omnis enim et earum modi quasi minima sed esse dolore voluptatem, amet recusandae porro quia doloribus at?</p>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore harum, ullam fugiat quae omnis enim et earum modi quasi minima sed esse dolore voluptatem, amet recusandae porro quia doloribus at?</p>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore harum, ullam fugiat quae omnis enim et earum modi quasi minima sed esse dolore voluptatem, amet recusandae porro quia doloribus at?</p>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore harum, ullam fugiat quae omnis enim et earum modi quasi minima sed esse dolore voluptatem, amet recusandae porro quia doloribus at?</p>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore harum, ullam fugiat quae omnis enim et earum modi quasi minima sed esse dolore voluptatem, amet recusandae porro quia doloribus at?</p>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore harum, ullam fugiat quae omnis enim et earum modi quasi minima sed esse dolore voluptatem, amet recusandae porro quia doloribus at?</p>

    </div>
</div>
