@import 'src/variables.scss';

.aboutMe{
    width:100%;
    padding-top:5vh;
    padding-bottom:5vh;
    background:rgba(128, 128, 128, 0.052);
    .title{
        line-height:1;
        text-align: center;
        font-size:4rem;
        padding:10rem 0;
        margin:auto;
        color: mat-color($primary, text);
    }
    .container{
        width:80%;
        padding: 2rem;
        border-radius:10px;
        margin:auto;
        box-shadow:#00000017 0 0 3px 4px;
        background:white;
        color: black;
        
    
    
        .paragraph{
            margin:3rem 0;
            font-size:1rem;
        }
    }
    
}