    <nav class="navbar" [class.open]="menuOpen">
        <div class="title-container">
            <h1 class="title">
                <span class="firstName">{{'first.name' | translate}}</span> {{'last.name' | translate}}
            </h1>
            <div class="hamburger" (click)="menuOpen=!menuOpen"> 
                <svg style="width:50px;" viewBox="0 0 100 100">
                    <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                    <path class="line line2" d="M 20,50 H 80" />
                    <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                  </svg>
            </div>
        </div>
        <div id="navigation" >
            <div class="profile-section">
                <img class="image" src="assets/images/profile.png" alt="image">			
                <div class="bio">{{'navbar.bio' | translate}}</div>
                <ul class="social-list">
                    <li class="item" *ngFor="let social of socialList">
                        <a [href]="social.ref" target="_blank" [rel]="social.name">
                            <svg  class="social-svg"  [ngStyle]="svgStyle(social.size)" 
                                    [attr.viewBox]="social.viewBox"><path [attr.d]="social.path"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
            <ul class="navbar-nav">
                <a *ngFor="let navigation of navigationElements" (click)="menuOpen=false" [routerLink]="navigation.ref">
                    <li class="item" routerLinkActive="active">
                        <svg [attr.viewBox]="navigation.viewBox" ><path [attr.d]="navigation.path"></path></svg>
                        {{navigation.name | translate}}</li>
                </a>
                <hr>
                <mat-form-field appearance="legend" style="width:100%" color="accent">
                    <mat-select [value]="currentLang" (valueChange)="onSelect($event)">
                      <mat-option *ngFor="let lang of languages"  [value]="lang.value">
                          <div class="lang" >
                            {{lang.name | translate}} 
                            <img class="flag" [src]="lang.flag"/> 
                          </div></mat-option>
                    </mat-select>
                </mat-form-field>
            </ul>
        </div>
    </nav>

